.app {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.wallpapersafari.com/26/2/wW3cb4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-size: larger;
}

.app h1 {
  margin-bottom: 20px;
}

.app_header {
  width: 100%;
  height: 50vh;
  background-image: url("https://www.pngkey.com/png/full/286-2862947_brooklyn-nets-official-online-store-brooklyn-nets-png.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
